:root{
  --kursiv-text: 'fracture';
  --main-font: 'Montserrat';
  --background-color:  #FCF7F3;
  --kursiv-color: #000;
  --button-color: #B4B4B4;
  --color-text: #FCF7F3;
  --gray-bg: #89817C;

}